/* Floral */
body{
    font-family: sans-serif;
    background-color: #bff7ff !important;
}

.HeaderNav{
    display: flex;
    justify-content: space-between;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: -12px;
    padding-top: -12px;
}

.HeaderNavItem{
    margin: 17px 17px 13px 13px;
    padding: 6px;
    font-size: 14px;   
    font-weight: 400;
    letter-spacing: 0.05cm;
    text-transform: uppercase;
    font-weight: bold;
}
/* Footer */

.text-uppercase{
    padding-left: 25px;
}

.fa{
    padding: 25px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: left;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.5;
}

.fa-facebook{
    background: #3b5998;
    color: white;
    padding: 20px;
}

.fa-instagram{
    background: #125688;
    color: white;
    padding: 20px;
}