/* * Urban Sketches */
body{
    font-family: sans-serif;
    background-color: #bff7ff !important;
}

.HeaderNav{
    display: flex;
    justify-content: space-between;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: -12px;
    padding-top: -12px;
}

.HeaderNavItem{
    margin: 17px 17px 13px 13px;
    padding: 6px;
    font-size: 14px;   
    font-weight: 400;
    letter-spacing: 0.05cm;
    text-transform: uppercase;
    font-weight: bold;
}

/* Body */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
div.gallery:hover {
    border: 7px solid #f8f8f8;
    opacity: 0.7;
    transition: .5s;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 15px;
    text-align: center;
  }

/* Footer */

.text-uppercase{
    padding-left: 25px;
}

.fa{
    padding: 25px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: left;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.5;
}

.fa-facebook{
    background: #3b5998;
    color: white;
    padding: 20px;
}

.fa-instagram{
    background: #125688;
    color: white;
    padding: 20px;
}